<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="/static/film_detail.css" rel="stylesheet">
    <title>{{Film[0][1]}}</title>
  </head>
  <body>
    <div class="detail-container">

      <div id="add-pro-form" style="margin-top:16px;">
        <form id="form-add-pro" method="post" action="/add_professionnel">
          <label>Nom : <input type="text" name="nom" required></label>
          <label>Prénom : <input type="text" name="prenom"></label>
          <label>Date de naissance : <input type="date" name="date_naissance"></label>
          <label>Date de décès : <input type="date" name="date_deces"></label>
          <button type="submit">Enregistrer</button>
        </form>
      </div>
      <button onclick="location.href='/'" class="btn-grey">Page d'accueil</button>
    </div>
    <script src="/static/ajout_professionnel.js"></script>
  </body>
</html>