<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="/static/liste.css" rel="stylesheet">
    <title>{{Film[0]}}</title>
  </head>
  <body>
    <h1>{{Film[0]}}</h1>
    <h2>Sorti en {{Film[1]}}</h2>
    <h2>Résumé</h2>
    <p>{{Film[2]}}</p>
    <br>
    {% for genre in Genres %}
        <p class="afficher_genre">{{genre[1]}}</p>
    {% endfor %}
    <button onclick="location.href='/'">Page d'accueil</button>
    <form method="POST" action="/delete_film">
      <input type="hidden" name="film_id" value="{{Film[0][0]}}">
      <button type="submit" onclick="return confirm('Voulez-vous vraiment supprimer ce film ?');">Supprimer le film</button>
    </form>
  </body>
</html>