<!DOCTYPE html>
<html>
    <head>
        <link href="/static/films.css" rel="stylesheet">
        <script src="{{url_for('static', filename='liste_annee.js')}}"></script>
        <title>Liste des Films</title>
    </head>

    <!-- première page, avec une liste de films ! -->
    <body>
        <h1>Liste des Films</h1>
        <a href="/ajouter_film">
            <button type="button">Ajouter un film</button>
        </a>
        <form method="post" action="/search_film">
            <label for="genre">Genre :</label>
            <br>
            {% for genre in Genres %}
            <label>
                <input type="checkbox" name="genres[]" value="{{genre[0]}}">
                {{genre[1]}}
            </label>
            {% endfor %}

            <br>

            <label id="annee_sortie">Année de sortie</label>

            <label for="recherche">Recherche :</label>
            <input type="text" name="nom" value="{{ recherche }}" placeholder="Nom du film" />

            <button type="submit">Filtrer</button>
        </form>

        <ul>
        {% if films %}
            <form id="film_detail" method="post" action="/film_detail">
            {% for film in films %}
                <div class="onefilm" onclick="document.getElementById('film_detail').submit();">
                <li><strong>{{ film[1] }}</strong> ({{ film[3] }})<br>{{ film[2] }}</li>
                <input type="hidden" name="film_id" value="{{film[0]}}">
                </div>
            {% endfor %}
            </form>

        {% else %}
            <li>Pas de films dans la base de données</li>
        {% endif %}
        </ul>
    </body>

</html>
