<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="/static/info.css" rel="stylesheet">
    <title>Stim</title>
  </head>
  <body>
    <h1>Ajouter un jeu</h1>
    <form enclype="text/plain" method="POST" action="/liste">
      <label>Nom</label>
      <input type="text" name="nom">
      <br>
      <label>Genres</label>
      <div>
        {% for genre in Genres %}
          <label>
            <input type="checkbox" name="genres[]" value="{{genre[0]}}">
            {{genre[1]}}
          </label><br>
        {% endfor %}
      </div>
      <!-- <select name="genres[]" multiple size="4">
        {% for genre in Genres %}
        <option value={{genre[0]}}>{{genre[1]}}</option>
        {% endfor %}
      </select> -->
      <!-- <select multiple name="genres">
        {% for genre in Genres %}
        <option value={{genre[0]}}>{{genre[1]}}</option>
        {% endfor %}
      </select> -->
      <br>
      <label>Prix</label>
      <input type="text" name="prix">
      <br>
      <label>Type</label>
      <select name="type">
        {% for type in Types %}
        <option value={{type[0]}}>{{type[1]}}</option>
        {% endfor %}
      </select>
      <br>
      <label>Description</label>
      <input type="text" name="description">
      <br>
      <input type="submit" name="soumettre">
    </form>

    <button onclick="location.href='liste'">Liste des jeux</button>

    <form enclype="text/plain" method="POST" action="/plateforme">
      <label>Ajouter une plateforme</label>
      <input type="text" name="plateforme">
      <input type="submit" name="soumettre">
    </form>

    <form enclype="text/plain" method="POST" action="/type">
      <label>Ajouter un type</label>
      <input type="text" name="type">
      <input type="submit" name="soumettre">
    </form>

    <h2 id="error">{{error}}</h1>
  </body>
</html>
